<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sudden Impact</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Sudden Impact Analytics is a concussion monitoring and reporting system that will revolutionize how we protect ourselves.
      We provide a cheap and effective solution that anyone ranging from a high school athlete to
      professional players can easily implement and utilize, providing greater protection from the dangers of concussions.
    </p>
  </body>
</html>
