<footer class="footer">
  <small>
    8Count Dashboard
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://8countr.com">8 Count</a></li>
    </ul>
  </nav>
</footer>
